
/* body {
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
  
Background image
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-size: cover;
    background-position: center;
}

body.morning::before {
background-image: url('images/morning.jpg');
}

body.noon::before {
    background-image: url('images/noon.jpg');
}

body.evening::before {
    background-image: url('images/evening.jpg');
}

body.night::before {
    background-image: url('images/night.jpg');
}

main {
    display: flex;
    gap: 20px;
}

section {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    opacity: 0.8;
    overflow: hidden;
}  */

body {}