---
import TimeBasedBackground from "../components/TimeBasedBackground.astro";
import CityNameInput from '../components/CityNameInput.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dashboard Widgets</title>
	</head>
	<body>
	
		<main class="">
			
			<slot />

		</main>        
		<TimeBasedBackground />
	</body>
	
</html>
